.slideshow {
    overflow: hidden;
    width: 700px;
    margin: 0 auto;
}

.slides {
    display: flex;
    flex-flow: nowrap row;
    /* width: slide width * slide count   */
    width: 2800px;
}

.slide-wrapper {
    /* transform: translate((-index * 100) %)   */
    transition: transform 1s ease-in-out;
}

.slide {
    height: 510px;
    width: 700px;
}

.slideshow-image {
    height: 510px;
    width: 700px;
}