.right {
    position: absolute;
    top: 440px;
    left: 1235px;
}

.left {
    position: absolute;
    top: 440px;
    left: 620px;
}

.slideshow-icon {
    color: rgba(40, 41, 40, 0.623);
    font-size: 7em;
}