.container-white {
    width: 100%;
    color: #9a9a9a;
    background: #fff;
    padding: 40px 0;
}

.container-black {
    width: 100%;
    color: #fff;
    background: #000;
    padding: 40px 0;
}

.container-center {
    width: 70%;
    margin: 0 auto;
}