.white-subtitle {
    color: #fff;
}

.black-subtitle {
    color: #000;
}

.white-subtitle, .black-subtitle {
    font-size: 22px;
    font-weight: 100px;
    padding: 4px 0;
    border-bottom: 1px solid #cdcdcd;
}