.partners-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 3%;
}
.partners-container img {
    width: 100%;
}
.partner a {
    display: inline-block;
    width: 40%;
}
.partner {
    text-align: center;
}
.adidas:hover {
    background-image: url(../../assets/images/adidas.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.jeep:hover {
    background-image: url(../../assets/images/jeep.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.cygames:hover {
    background-image: url(../../assets/images/cygames.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.partner a img {
    vertical-align: bottom;
}
.partner a:hover img {
    visibility: hidden;
}