.slider-container {
    position: relative;
    min-height: 200px;
    border: 1px solid green;
    width: 50%;
    margin: 0 auto;
}
.left, .center, .right {
    position: absolute;
    width: 20%;
    height: 100px;
}

.left {
    top: 0;
    left: -20%;
    background: rgb(128, 0, 0);
    transition: all 1s;
}

.center {
    top: 0;
    left: 40%;
    background: green;
    z-index: 1;
    transition: all 1s;
}

.right {
    top: 0;
    left: 100%;
    background: rgb(0, 0, 128);
    transition: all 1s;
}
/* .right-hidden:hover {
    left: 40%;
}

.left-hidden:hover {
    left: 40%;
} */

.left-arrow, .right-arrow {
    position: absolute;
    width:10%;
    height: 10%;
    border:1px solid green;
    top: 45%;
    text-align: center;
}
.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.stadium-img {
    width: 100%;
    height: 100%;
}